$main-bg: #121212;
$footer-bg: #0b0e11;
$header-bg: #51697e;
$main-font-size: 14px;
$main-color-text: #fff;
$footer-color-text: #848e9c;
$line-color: #f2f2f2;
$main-green: #85e7c6;
$main-yellow-dark: #9a7205;
$main-yellow: rgb(241, 173, 83);
$red: #b2001a;
